<!DOCTYPE html>
<html>
  <head>
    <title>Your Page Title</title>
    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1628359355624-855775b5c9c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
   

<header>
  
    
    <div class="mask" >
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">ArtistDirectory</h1>
          <h5 class="mb-4">Add and review Artists</h5>
          <a class="btn btn-outline-light btn-lg m-2" href="sign_up" role="button" rel="nofollow">SignUp</a>
          <a class="btn btn-outline-light btn-lg m-2" href="sign_in" role="button">LogIn</a>
        </div>
      </div>
    </div>
  
</header>
 <!-- Your page content goes here -->
  </body>
</html>
