
<!DOCTYPE html>
<html>
  <head>
    <title>Your Page Title</title>
    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1605020420620-20c943cc4669?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
   

<header>
  
    
 
</header>
 <!-- Your page content goes here -->
  </body>
</html>


<%= link_to "Create New Category", new_artist_category_path %>

<%= link_to "Create New Artist", new_artist_path %>








